header{
    text-align:center;
    border: 1px solid green;
    width:100%;
    height:150px;
    background-color: lightgray;
    position: relative;
    font-size: 40px;
}
footer{
    text-align:center;
    margin-top: 100px;
    border:1px solid green;
    width:100%;
    background-color: lightgray;
    margin-bottom: -50px;
}
li{
    
    padding: 50px;
    list-style-type:none;
    margin-left:-10px;
    
   
    
    
}
li a{
    text-decoration: none;
    display: flex;
    color:black;
    font-size: 30px;
    float: left;
    padding: 20px;
    width:25%;
    border: 1px ;
    color: white;
    background-color: black;
    margin-left:10px;

    }
    .content{
        width:50%;
        font-size: 20px;
        text-align: left;
        margin-left: 500px;
        margin-top: -400px;
        line-height: 1.7;
    }
    li a:hover{
        color:red;
    
    }
    .img1{
        height:200px;
        width:200px;
        position: relative;
   top: -300px;
   right: -770px;
        
        
    }